# =========================
# SERVER CONFIG
# =========================
SERVER_CONTAINER_NAME=fl-scam-api
SERVER_PORT=8000

NUM_CLIENTS=2
N_ROUNDS=10
INPUT_DIM=10

PRETRAIN_EPOCHS=0
PRETRAIN_DATA_PATH=data/test_data.csv

# =========================
# MONITORING CONFIG
# =========================
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin


# =========================
# CLIENT CONFIG
# =========================
CLIENT_ID=1
SERVER_URL=http://localhost:8000
DATA_PATH=data/client1_data.csv

LOCAL_EPOCHS=5
BATCH_SIZE=32
LEARNING_RATE=0.01
POLL_SECONDS=5

